#my-img1 {
    /* with border we can add border size, style(solid, dotted etc.) and color */
    border: 5px solid blueviolet;
    /* adding margin (space between element container and other elements) and 
    padding (space inside element container between element and border) for 
    an image */
    margin: 2vw;
    /* one value will add padding/margin for all sides, but if we add 4 we can 
    style all sides to different values (the order is: up,right,down and left 
    clockwise) */
    padding: 2vw 4vw 1vw 0.001vw;
}

#my-img2 {
    /* this will move element to right, there is also an option to move element 
    to left, we can also remove float from element by using none, we can also 
    use float of the parent element by specifing float inherit */
    float: right;
}

.site-table {
    /* will hide element */
    display: none;
}

.article-list {
    /* Compared to display: inline, the major difference is that display: 
    inline-block allows to set a width and height on the element. Also, with 
    display: inline-block, the top and bottom margins/paddings are respected, 
    but with display: inline they are not. Compared to display: block, the 
    major difference is that display: inline-block does not add a line-break 
    after the element, so the element can sit next to other elements. */
    display: inline-block;
}
