/* adding background image for our body element (so background image for all 
website), we can also link to local image*/
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/White-Wagtail.jpg/240px-White-Wagtail.jpg");
}

/* basic css colors */
h4 {
    color: red;
}

/* rgb colors */
.title {
    color: rgb(123, 3, 22);
}

/* hex color */
#subtitle {
    color: #0022ff;
}

/* will not repeat the image and will set a background color for rest of the div
with opacity 0.7 (1 is max) */
#service-image {
    height: 600px;
    width: 90%;
    background: url("https://blog.doneta.pl/photo/wersjejezykowe_art_5c1d882f250be.png");
    background-repeat: no-repeat;
    background-color: rgba(22, 33, 1, 0.7);
}

/* adding gradient which is linear and changes from left to right from red to blue and to green */
#gradient-div {
    height: 400px;
    width: 70%;
    background: linear-gradient(to right, red, blue, green);
}

/* adding gradient which is linear and changes from top left to bottom right from red to blue and to green */
#gradient-div {
    height: 400px;
    width: 70%;
    background: linear-gradient(to bottom right, red, blue, green);
}

/* adding gradient which is linear and changes based on degree from red to blue and to green */
#gradient-div {
    height: 400px;
    width: 70%;
    background: linear-gradient(215deg, red, blue, green);
}

/* adding gradient which is radial and changes from center from red to blue and to green, we also have set the percent of color*/
#gradient-div {
    height: 400px;
    width: 70%;
    background: radial-gradient(red 20%, blue 40%, green 55%);
}

/* adding gradient which is radial and changes from center from red to blue and to green, we also have set the percent of color and forced our color to look more circular*/
#gradient-div {
    height: 400px;
    width: 70%;
    background: radial-gradient(circle, red 20%, blue 40%, green 55%);
}
